/*header with link and navigation*/
.head {
    background-color: rgb(3, 3, 51);
    font-weight: lighter;
    font-size: small;

    a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
}

.topNav {
    background-color: rgb(3, 3, 51);
    display: flex;
    font-weight: lighter;
    list-style-type: none;
    justify-content: end;

    a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
}


body {
    background-color: whitesmoke;
}

/*buttons next to logo*/
button {
    background-color: rgb(3, 3, 51);
    border: 1px rgb(3, 3, 51);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px 20px;
}

.buttongroup {
    float: right;
}


/*main center picture*/
.mainpicture > img {
    height: 650px;
    width: 1320px;
}

.mainpicture {
    text-align: center;
}


/*Styling gray circles in middle of page*/
.graybullets {
    text-align: center;
}

.bullets {
    display: inline-block;
    border-radius: 50%;
    background-color: gray;
    width: 1%;
    height: 1%;
}

/*Smart, Strong, Stable sections*/
.allsections {
    display: flex;
    border-top: 5px solid gray;
}

/*Section Headers*/
.section1 > h2 {
    color: rgb(3, 3, 51);
    font-weight: bold;
    font-size: xx-large;
}

.section2 > h2 {
    color: rgb(3, 3, 51);
    font-weight: bold;
    font-size: xx-large;
}

.section3 > h2 {
    color: rgb(3, 3, 51);
    font-weight: bold;
    font-size: xx-large;
}

/*Section styles*/
.section1 {
    text-align: center;
    p {
        font-size: 14px;
        margin: 12px;
        padding: 5px;
        color: gray;
    }
}

.section2 {
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    text-align: center;
    p {
        font-size: 14px;
        margin: 12px;
        padding: 5px;
        color: gray;
    }
}

.section3 {
    text-align: center;
    p {
        font-size: 14px;
        margin: 12px;
        padding: 5px;
        color: gray;
    }
}

/*Section buttons*/
.sectionbutton {
    background-color: rgb(3, 3, 51);
    border: 1px rgb(3, 3, 51);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: larger;
    font-weight: bold;
}

/*Bottom Sections*/
.bottomsections {
    display: flex;
    background-color: rgb(3, 3, 51);
}

/*Bottom Section headers*/
.bsection1 > h1 {
    text-align: center;
    color: white;
}

.bsection2 > h1 {
    text-align: center;
    color: white;
}

.bsection3 > h1 {
    text-align: center;
    color: white;
}

/*Bottom section sections and lists*/
.bsection1 {
    text-align: center;
    color: gray;
    flex: 1;
    ul {
        list-style-type: '⚙️';
    }
}

.bsection2 {
    color: white;
    text-align: center;
    flex: 1;
    margin-right: 40px;
    ul {
        list-style-type: '🗨️';
    }
}

.list2 > p {
    color: gray;
}

.list2 > li {
    font-weight: bolder;
    font-size: large;
}

.bsection3 {
    color: white;
    flex: 1;
}

.lastlist1 {
    list-style-image: url('../images/nov21.png');

}

.lastlist2 {
    list-style-image: url('../images/nov9.png');
}

.lastlist3 {
    list-style-image: url('../images/nov17.png');
}

.list3 {
    li {
        font-weight: bolder;
        font-size: medium;
    }
}

.list3 > p {
    color: gray;
}

.listbutton {
    background-color: rgb(91, 91, 233);
    border: 1px rgb(91, 91, 233);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: larger;
    font-weight: bold;
}

/*Footer*/
footer {
    background-color: rgb(91, 91, 233);
    color: white;
}